body {
    font-family: 'Arial', sans-serif;
    background-color: #f0e4d7;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    position: relative;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 600px;
    width: 90%;
    z-index: 1;
    position: relative;
    box-sizing: border-box;
}

h1 {
    color: #d35400;
    font-size: 2em;
}

.message {
    margin: 10px 0;
    line-height: 1.6;
    font-size: 1.2em;
}

.choices {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
}

.choice {
    background-color: #d35400;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    font-size: 1em;
    max-width: 120px;
    transition: all 0.3s;
}

.choice:hover {
    background-color: #e67e22;
}

.hearts {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    pointer-events: none;
}

.heart {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: red;
    animation: move 5s infinite;
}

.heart::before,
.heart::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 50%;
}

.heart::before {
    top: -15px;
    left: 0;
}

.heart::after {
    left: 15px;
    top: 0;
}

@keyframes move {
    0% {
        transform: translateY(0) rotate(-46deg);
        opacity: 1;
    }
    100% {
        transform: translateY(-1000px) rotate(0deg);
        opacity: 0;
    }
}

@media (max-width: 600px) {
    .container {
        width: 90%;
        padding: 15px;
    }

    h1 {
        font-size: 1.5em;
    }

    .message {
        font-size: 1em;
    }

    .choice {
        font-size: 0.9em;
        padding: 8px 15px;
    }
}
